<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30000">
        <setting label="30010" type="lsep"/>
        <setting id="pb_access_token" label="30040" type="text"/>
        <setting label="30011" type="lsep"/>
        <setting id="notification_time" label="30041" type="slider" default="6" range="1,1,60" option="int" />
        <setting id="pb_mirroring" label="30042" type="bool" default="true"/>
        <setting label="30012" type="lsep"/>
        <setting id="pb_filter_deny" label="30043" type="text" enable="eq(-2,true)"/>
        <setting id="pb_filter_allow" label="30044" type="text" enable="eq(-3,true)"/>
    </category>
    <category label="30001">
        <setting id="pb_client_iden" label="30050" type="text" enable="false"/>
        <setting id="pb_client_nickname" label="30051" type="text" enable="false"/>
        <setting id="pb_client_model" label="30052" type="text" enable="false"/>
    </category>
</settings>
